/* Define uma fonte personalizada chamada 'kenyan' */
@font-face {
    font-family: kenyan;
    src: url(font/kenyan\ coffee\ rg.otf);
}

@font-face {
    font-family: nasalization;
    src: url(font/nasalization-rg.otf);
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

/* Define estilos para o corpo do documento */
body {
    margin: 0;
    padding: 0;
    background-color: #000000;
}

/* Estiliza o cabeçalho */
.cabecalho {
    display: flex;
    justify-content: center;
    background-color: #000000; /* Cor de fundo do cabeçalho */
    height: 141px; /* Altura do cabeçalho */
    padding-top: 10px; /* Espaçamento interno superior do cabeçalho */
}

/* Estiliza o logotipo no cabeçalho */
.cabecalho .logo {
    width: 420px; /* Largura do logotipo */
    height: auto; /* Altura automática para manter a proporção */
    padding-left: 30px; /* Espaçamento à esquerda do logotipo */
}

/* Estiliza o retângulo abaixo do cabeçalho */
.retangulo {
    background-color: #000000; /* Cor de fundo do retângulo */
    color: white; /* Cor do texto dentro do retângulo */
    margin-top: 0; /* Margem superior do retângulo */
    padding-top: 10px; /* Espaçamento interno superior do retângulo */
    margin-left: 0; /* Margem esquerda do retângulo */
    height: 40px; /* Altura do retângulo */
}

/* Estiliza o título dentro do retângulo */
.retangulo .titulo {
    display: flex; /* Usa flexbox para centralizar o título horizontalmente */
    justify-content: center; /* Centraliza horizontalmente o conteúdo do título */
    margin: 0; /* Remove margens do título */
}

/* Estiliza o menu principal */
.menu-principal {
    list-style-type: none; /* Remove os marcadores de lista */
    padding: 0; /* Remove o espaçamento interno da lista */
    margin: 0; /* Remove as margens da lista */
    text-align: center; /* Centraliza o menu horizontalmente */
    line-height: 40px; /* Define a altura da linha igual à altura do retângulo */
}

/* Estiliza os itens do menu */
.menu-principal li {
    display: inline; /* Exibe os itens do menu em linha */
    margin-right: 120px; /* Espaçamento entre os itens do menu */
}

/* Estiliza os links do menu */
.menu-principal a {
    font-family: 'nasalization', sans-serif; /* Usa a fonte personalizada 'kenyan' */
    text-decoration: none; /* Remove a decoração de link */
    color: white; /* Cor do texto do menu */
    font-weight: bold; /* Peso da fonte */
    font-size: 30px; /* Tamanho da fonte */
    transition: color 0.3s; /* Adiciona uma transição suave para a cor do texto */
}

/* Estiliza os links do menu ao passar o mouse sobre eles */
.menu-principal a:hover {
    color: #00B5CC; /* Altera a cor do texto ao passar o mouse sobre os itens do menu */
}


/* Estiliza as imagens dentro da classe 'galeria' */
.galeria {
    width: 100%;
    overflow-y: scroll; /* Altere para overflow-y para rolagem vertical */
    white-space: nowrap;
}
.imagem-apresentacao{
    padding-top: 20px;
    width: 100%;
}

.galeria {
    width: 100%;
    overflow-x: scroll;
    white-space: nowrap;
}

.fotos {
    display: inline-block;
    padding: 0px;
}

.fotos img {
    width: auto;
    height: 500px; /* Altura de cada foto */
    margin-right: 0px; /* Espaçamento entre as fotos */
}


.temporadas-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
    width: 1500px;
    display: flex;
    justify-content: center;
    align-items:center;
    padding-left: 160px;
}

.temporada {
    background-color: #fff;
    border: 1px solid #ddd;
    margin: 10px;
    padding: 20px;
    width: calc(25% - 40px);
    box-sizing: border-box;
}

.temporada h2 {
    color: #ffffff;
    font-size: 24px;
    margin-bottom: 10px;
}

.temporada p {
    color: #ffffff;
    font-size: 22px;
    margin-bottom: 20px;
}

.imagem-apresentacao {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
}

.temporada img {
    width: 100%;
    height: auto;
}


/* Estilos gerais */ 
.container {
    padding-top: 130px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.section-title {
    background-color: #555;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}
  
.news-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
  
.article {
    width: 30%;
    background-color: #fff;
    border: 1px solid #ddd;
    margin-bottom: 20px;
    padding: 10px;
}
  
.article img {
    max-width: 100%;
    height: auto;
}
  
.article h2 {
    font-size: 24px;
    margin-top: 0;
}
  
.article p {
    font-size: 16px;
    color: #333;
}
 